// Основные цвета
$main-color: LightCyan;
// $bg-color: rgba(248, 248, 255, .3);
// $bg-color: rgba(28, 29, 36, 0.5);
$bg-color: rgba(0, 0, 0, .6);
// $bg-color: rgba(255, 255, 255, 0.1);
$bg-page-black: #111;
$bg-page-white: #eee;

$text-color: #e5e7e9;
$text-color-white: #000;

$text-title-color: #C7CBF2;

// Числовые константы основной разметки
$header-height: 100vh;
$footer-height: 100px;
