@import './libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@200;300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@import './base/variables';
@import './base/mixins';

*{
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
    
    scroll-behavior: smooth;
    // font-family: 'Poppins', sans-serif;
    p {
        margin: 0;
        padding: 0;
    }
}
body {
    position: relative;
}
// body {
//     position: relative;
// 	// background-color: $main-color;
//     display: grid;
//     width: 100%;
//     grid-template-columns: auto minmax(320px, 1440px) auto;
//     grid-template-rows: 100vh 1fr;
//     grid-template-areas:
//         "header header header" 
//         ". wrapper .";
// }
// .wrapper__header {
//     grid-area: header;
//     // background: url(../img/background/background1.jpg) 50%/cover no-repeat;
// }
// .wrapper {
//     grid-area: wrapper;
//     min-height: 100vh;
//     position: absolute;
//     top: 0;
//     left: 0;
//     // z-index: 6;

//     display: grid;
//     grid-template-columns: auto minmax(320px, 1440px) auto;
//     // grid-template-rows: $header-height 1fr $footer-height;
//     grid-template-rows: 1fr $footer-height;
//     grid-template-areas: 
//     // "header header header"
//     ". body ."
//     ". footer ." ;
// }

// .wrapper__body {
//     grid-area: body;
    

// }

// .wrapper__footer {
//     grid-area: footer;
// }

// section {
//     // position: relative;
//     display: grid;
//     grid-template-columns: auto 1fr auto;
//     grid-template-rows: auto 1fr;
// }


// Импорт основных блоков
@import './blocks/header';
@import './blocks/wrapperBody';
@import './blocks/title';
@import './blocks/promo';
@import './blocks/about';
@import './blocks/skills';
@import './blocks/portfolio';
@import './blocks/contacts';

// Импорт вспомогательных блоков
@import './blocks/services/buttons';

// Импорт блоков анимации
@import './blocks/animation/bgGenerator';
@import './blocks/animation/animationPortfolioInfo';
@import './blocks/animation/_animationPromo';
@import './blocks/animation/animationPortfolioHide';