.about {
	@include page;
	@include white;
	h2 {
		grid-area: title;
		text-align: center;
	}
	&__title {
		color: $text-title-color;
		text-shadow: black 1px 1px 2px;
	}
	&__wrapper {
		grid-area: wrapper;
		@include wrapper;
		display: grid;
		grid-template-columns: 400px 1fr;
		grid-template-rows: 1fr;
		column-gap: 100px;
	}
	&__photo {
		background: url(../../img/main_photo400x600x96.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	&__text {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto auto 1fr;
		row-gap: 20px;
		span {
			font-weight: 600;
			font-style: italic;
			text-decoration: underline;
		}
		&__education-items {
			margin: 0;
		}
		&__education-item {
			padding-left: 25px;
			list-style-type: none;
		}
	}
}