.contacts {
	@include page;
	@include black;

	// row-gap: 30px;

	&__title {
		grid-area: title;
		text-align: center;
		&-title {
			color: $text-title-color;
			text-shadow: black 1px 1px 2px;
			margin-bottom: 10px;
		}
		&-subtitle {
			margin: 0 auto;
		}
	}
	&__wrapper {
		grid-area: wrapper;
		@include wrapper;
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 1fr;
		column-gap: 100px;
	}
	// Блок информации
	&__info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, auto);
		grid-template-areas: 
			"title"
			"city"
			"phone"
			"email"
			"social"
		;
		&-title {
			grid-area: title;
		}
		padding: 0;
		p {
			font-size: 20px;
			font-style: italic;
		}
		h4 {
			color: #0d10e9;
			font-weight: 800;
			margin-bottom: 0;
		}
		a {
			text-decoration: none;
			color: $text-color;
		}
		&-item {
			padding: 20px 60px;
		}
		&-city {
			grid-area: city;
			// padding: 20px 60px;
			p {
				position: relative;
			}
			p:before {
				content: '';
				display: inline-block;
				position: absolute;
				background-image: url('../../icons/contacts/geo.svg');
				background-size: 100% 100%;
				filter: invert(100%);
				width: 30px;
				height: 36px;
				left: -40px;
				top: -30px;
			}
		}
		&-phone {
			grid-area: phone;
			a {
				position: relative;
				transition: all .3s ease 0s;
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					background-image: url('../../icons/contacts/phone.svg');
					background-size: 100% 100%;
					filter: invert(100%);
					width: 30px;
					height: 40px;
					left: -40px;
					top: -30px;
					transition: all .3s ease 0s;
				};
				&:hover {
					color: $text-title-color;
					&:before {
						width: 36px;
						height: 45px;
						left: -46px;
						top: -30px;
					}
				}
			}
		}
		&-email {
			grid-area: email;
			a {
				position: relative;
				transition: all .3s ease 0s;
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					background-image: url('../../icons/contacts/email.svg');
					background-size: 100% 100%;
					filter: invert(100%);
					width: 30px;
					height: 36px;
					left: -40px;
					top: -30px;
					transition: all .3s ease 0s;
				}
				&:hover {
					color: $text-title-color;
					&:before {
						width: 36px;
						height: 36px;
						left: -46px;
						top: -30px;
					}
				}
			}
			
		}
		&-social {
			grid-area: social;
			position: relative;
			.info-social_wrapper {
				position: absolute;
				left: -40px;

				position: relative;
				display: inline-flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: start;
				width: 100%;
				padding: 0px 0px;
			}
			&__link {
				display: inline-block;
				max-width: 40px;
				max-height: 40px;
				margin-right: 20px;
				margin-top: 20px;
				svg {
					width: 100%;
					height: 100%;
					fill: $bg-page-white;
					transition: all 0.3s ease 0s;
				}
				&:hover {
					svg {
						width: 110%;
						height: 110%;
						fill: $text-title-color;
					}
				}
			}
		}
	}

	// Блок формы
	.form {
		position: relative;
		padding: 0px;
		margin-top: 20px;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: $bg-page-white, $alpha: .3) url('../../img/form/loading.gif') center / 50px no-repeat;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
		&._sending:after {
			opacity: 1;
			visibility: visible;
		}
		&-input {
			display: block;
			width: 100%;
			margin-bottom: 20px;
			padding: 15px;
			background: #222;
			color: $text-color;
			font-size: 16px;
			border: none;
			outline: none;
			resize: none;
			border-radius: 5px;
			&::placeholder {
				color: #888;
			}
			&.error {
				box-shadow: 0 0 15px red;
			}
		}
		textarea {
			min-height: 200px;
		}
		&__button {
			position: relative;
			width: 120px;
			height: 40px;
			text-align: center;
			vertical-align: middle;
			background-color: $text-title-color;
			
			cursor: pointer;
			border: none;
			outline: none;
			border-radius: 50px;

			font-size: 16px;
			font-weight: 600;
			transition: all .3s ease 0s;

			&:hover {
				border: 2px solid $text-title-color;
				background-color: $bg-page-black;
				color: $text-title-color
			}
			&:active {
				top: 3px;
				left: 3px;
				width: 115px;
				height: 38px;

				box-shadow: 0 2px 0 $text-title-color;
			}
		}
	}
}