.title {
	margin: 0;
	font-weight: bold;
	font-size: 36px;
	line-height: 60px;
	&_fz12 {
		font-size: 12px;
		line-height: 18px;
	}
	&_fz14 {
		font-size: 14px;
		line-height: 21px;
	}
	&_fz16 {
		font-size: 16px;
		line-height: 24px;
	}
	&_fz20 {
		font-size: 20px;
		line-height: 30px;
	}
	&_fz24 {
		font-size: 24px;
		line-height: 36px;
	}
	&_fz28  {
		font-size: 28px;
		line-height: 42px;
	}
	&_fz30 {
		font-size: 30px;
		line-height: 45px;
	}
	&_fz32 {
		font-size: 32px;
		line-height: 48px;
	}
	&_fz36 {
		font-size: 36px;
		line-height: 44px;
	}
	&_fz36 {
		font-size: 42px;
		line-height: 63px;
	}
	&_fz48 {
		font-size: 48px;
	}
	&_fz52 {
		font-size: 52px;
		line-height: 78px;
	}
	&_fz60 {
		font-size: 60px;
		line-height: 90px;
	}
	&_fz72 {
		font-size: 72px;
	}
}